<!DOCTYPE html>
<html>
  <head>


  </head>
  <body>

  <% for(var i = 0;i < data.length; i++){ %>
    <%var url = data[i].link%>
  <div class="item" >
    <img src="<%=url%>" width="1000px" height="600px"/>
    <div>ID : <%= data[i]._id %></div>
    <div>tieu de : <%= data[i].title %></div>
    <div>noi dung : <%= data[i].content %></div>
    <div>bai viet : <%= data[i].post %></div>

    <% } %>
  </div>
  </body>
</html>
